<div class="govuk-!-padding-left-2">
  <h3 class="govuk-heading-m">{{ entityVisualisations.name }}</h3>
  <p class="govuk-body"><strong>Comment</strong>:<br>{{ entityVisualisations.additionalComment | default('N/A') }}</p>
  <p class="govuk-body"><strong>Source</strong>: {{ entityVisualisations.source | default('N/A') }}</p>
</div>
