<div class="govuk-!-padding-left-2" id="project-information-{{ entityVisualisations.milestone.id }}">
  <h3 class="govuk-heading-m">{{ entityVisualisations.milestone.name }}</h3>
  {{ currentStatus(entityVisualisations.milestone.hmgConfidence, false, entityVisualisations.milestone.complete == "Yes") }}<br>

  <ul class="govuk-list govuk-body-s">
    <li>
      <strong>Project UID</strong>: {{ entityVisualisations.project.publicId }}
    </li>
    <li>
      <strong>Milestone UID</strong>: {{ entityVisualisations.milestone.publicId }}
    </li>
    <li>
      <strong>Completed</strong>: {{ entityVisualisations.milestone.complete }}
    </li>
    <li>
      <strong>Delivery Confidence</strong>: <span class="cell-color-{{ 'complete' if entityVisualisations.milestone.complete == "Yes" else entityVisualisations.milestone.deliveryConfidence }}">{{ entityVisualisations.milestone.deliveryConfidence }}</span>
    </li>
    <li>
      <strong>Category</strong>: {{ entityVisualisations.milestone.categoryName }}
    </li>
    <li>
      <strong>Theme</strong>: {{ entityVisualisations.milestone.priorityTheme }}
    </li>
    <li>
      <strong>Comment</strong>: {{ entityVisualisations.milestone.comments }}
    </li>
  </ul>

  <h4 class="govuk-heading-s">Delivery Timeline</h4>
  <canvas id="milestone-timeline" aria-label="Milestone delivery timeline" role="img"></canvas>

  <br><br>
  {% if (req.user.roles | includes(['management'])) and entityVisualisations.canViewProject == 1 %}
    <a class="govuk-link" href="{{ config.paths.milestoneDetails | replace(':uid', entityVisualisations.milestone.publicId | urlencode) }}">View Milestone</a> &nbsp;&nbsp;
    <a class="govuk-link" href="{{ config.paths.projectDetails | replace(':uid', entityVisualisations.project.publicId | urlencode) }}">View Project</a>
  {% endif %}
</div>
