{% set managementInformationUrls = [
    config.paths.reportingOverview,
    config.paths.allData,
    config.paths.missedMilestones,
    config.paths.upcomingMilestones
    ]
%}

{% set addProjectMilestonesUrls = [
    config.paths.dataEntry.bulkUpload,
    config.paths.dataEntry.bulkUploadProjectMilestone,
    config.paths.dataEntry.submissionSuccess,
    config.paths.editMilestone
    ]
%}

{% set addEntitiesUrls = [
    config.paths.dataEntryEntity.bulkUpload,
    config.paths.dataEntryEntity.bulkUploadEntity,
    config.paths.dataEntryEntity.bulkUploadSignOff,
    config.paths.dataEntryEntity.bulkUploadFile,
    config.paths.dataEntryEntity.import,
    config.paths.dataEntryEntity.submissionSuccess,
    config.paths.dataEntryEntity.output
    ]
%}

{% set addMeasuresUrls = [
    config.paths.dataEntryEntity.measureList,
    config.paths.dataEntryEntity.measureEdit,
    config.paths.dataEntryEntity.measureGroup,
    config.paths.dataEntryEntity.measureValue
    ]
%}

{% set adminUrls = [
    config.paths.admin.projectFieldList,
    config.paths.admin.projectField,
    config.paths.admin.categoryFieldList,
    config.paths.admin.categoryField,
    config.paths.admin.categoryList,
    config.paths.admin.headlineMeasures,
    config.paths.admin.userManagementList,
    config.paths.admin.userManagementAuthentication,
    config.paths.admin.createUser,
    config.paths.admin.editUser,
    config.paths.admin.staticExports,
    config.paths.admin.raygValues,
    config.paths.admin.resetUser2FA,
    config.paths.admin.tagManagementAdd,
    config.paths.admin.tagManagementDelete,
    config.paths.admin.tagManagementList,
    config.paths.admin.permissions,
    config.paths.admin.entityList,
    config.paths.admin.entityRemap,
    config.paths.admin.entityDelete
    ]
%}

{% set adminUserManagementUrls = [
    config.paths.admin.userManagementList,
    config.paths.admin.userManagementAuthentication,
    config.paths.admin.resetUser2FA,
    config.paths.admin.createUser,
    config.paths.admin.editUser
    ]
%}

{% set adminTagManagementUrls = [
    config.paths.admin.tagManagementAdd,
    config.paths.admin.tagManagementDelete,
    config.paths.admin.tagManagementList
    ]
%}

{% set adminEntityList = [
    config.paths.admin.entityList,
    config.paths.admin.entityRemap,
    config.paths.admin.entityDelete
    ]
%}

{% set transitionReadinessUrls = [
    config.paths.readinessOverview,
    config.paths.transitionReadinessThemeDetail
    ]
%}

{% set coundDownTimer %}
<li class="govuk-header__navigation-item pull-right">
    <p class="govuk-body-s govuk-!-font-weight-bold timer">Days to go:  <span id="countdown"></span></p>
</li>
{% endset %}

{% if req.user %}
<nav class="navigation" id="show-menu" role="navigation">
  <ul id="navigation" class="govuk-header__navigation" aria-label="Parent navigation">
    {{ coundDownTimer | safe }}
    <li class="govuk-header__navigation-item" id="toggle-menu" style="display:none;">
        <a class="govuk-header__link nav" id="show-menu-link" href="#show-menu">Menu</a>
        <a class="govuk-header__link nav" id="hide-menu-link" href="#hide-menu">Menu</a>
    </li>

    <li id="toggle-mobile">
      <ul class="govuk-header__navigation-noPadding">
        {% if req.user.roles | includes(['viewer', 'static', 'devolved_administrations']) %}
          <li class="govuk-header__navigation-item {{ 'govuk-header__navigation-item--active' if url in transitionReadinessUrls }}">
            <a class="govuk-header__link nav" href="{{ config.paths.readinessOverview }}">Transition readiness</a>
          </li>
        {% endif %}
        {% if url in transitionReadinessUrls%}
          <li class="govuk-header__navigation child-navigation">
            <ul class="govuk-header__navigation-noPadding" aria-label="Child navigation">
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.readinessOverview }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.readinessOverview }}">
                  Overview
                </a>
              </li>
              {% if config.features.transitionReadinessTheme %}
                {% for theme in res.locals.themesUserCanAccess %}
                  {% if ((config.paths.transitionReadinessThemeDetail + '/' + theme.publicId == req.originalUrl) or (config.paths.transitionReadinessThemeDetail + '/' + theme.publicId + '/' in req.originalUrl)) %}
                    {% set active = true %}
                  {% else %}
                    {% set active = false %}
                  {% endif %}
                  <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if active }}">
                    <a class="govuk-header__link child-nav" href="{{ config.paths.transitionReadinessThemeDetail }}/{{ theme.publicId }}">
                    {{theme.name}}
                    </a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </li>
        {% endif %}

        {% if req.user.roles | includes(['management']) %}
          <li class="govuk-header__navigation-item {{ 'govuk-header__navigation-item--active' if url in managementInformationUrls }}">
            <a class="govuk-header__link nav" href="{{ config.paths.allData }}">HMG delivery management information</a>
          </li>
        {% endif %}
        {% if url in managementInformationUrls %}
          <li class="govuk-header__navigation child-navigation">
            <ul class="govuk-header__navigation-noPadding" aria-label="Child navigation">
              {% if req.user.roles | includes(['management_overview']) %}
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.reportingOverview }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.reportingOverview }}">
                Reporting overview
                </a>
              </li>
              {% endif %}
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.allData }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.allData }}">
                All data
                </a>
              </li>
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.missedMilestones }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.missedMilestones }}">
                Missed milestones
                </a>
              </li>
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.upcomingMilestones }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.upcomingMilestones }}">
                Upcoming milestones
                </a>
              </li>
            </ul>
          </li>
        {% endif %}

        {% if req.user.roles | includes(['uploader','admin']) %}
          <li class="govuk-header__navigation-item {{ 'govuk-header__navigation-item--active' if url in addProjectMilestonesUrls or url in addMeasuresUrls }}">
              <a class="govuk-header__link nav" href="{{ config.paths.dataEntry.bulkUploadProjectMilestone }}">
              Add data
              </a>
          </li>
        {% endif %}
        {% if url in addProjectMilestonesUrls or url in addMeasuresUrls %}
          <li class="govuk-header__navigation child-navigation">
              <ul class="govuk-header__navigation-noPadding" aria-label="Child navigation">
                <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url in addProjectMilestonesUrls }}">
                    <a class="govuk-header__link child-nav" href="{{ config.paths.dataEntry.bulkUploadProjectMilestone }}">
                    Management information
                    </a>
                </li>
              {% if config.features.measureUpload %}
                <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url in addMeasuresUrls }}">
                    <a class="govuk-header__link child-nav" href="{{ config.paths.dataEntryEntity.measureList }}">
                    Measures
                    </a>
                </li>
              {% endif %}
            </ul>
          </li>
        {% endif %}

        {% if req.user.roles | includes(['admin']) %}
          <li class="govuk-header__navigation-item {{ 'govuk-header__navigation-item--active' if url in adminUrls or url in addEntitiesUrls }}">
              <a class="govuk-header__link nav" href="{{ config.paths.admin.projectFieldList }}">
              Admin
              </a>
          </li>
        {% endif %}
        {% if url in adminUrls or url in addEntitiesUrls %}
          <li class="govuk-header__navigation child-navigation">
            <ul class="govuk-header__navigation-noPadding" aria-label="Child navigation">
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.admin.projectFieldList or url == config.paths.admin.projectField }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.admin.projectFieldList }}">
                MI data structure
                </a>
              </li>
              {% if config.features.entityData %}
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.admin.categoryList or url == config.paths.admin.categoryField }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.admin.categoryList }}">
                Manage categories
                </a>
              </li>
              {% endif %}
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.admin.headlineMeasures }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.admin.headlineMeasures }}">
                Manage Headline Measures
                </a>
              </li>
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url in adminUserManagementUrls }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.admin.userManagementList }}">
                Manage Users
                </a>
              </li>
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url in addEntitiesUrls }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.dataEntryEntity.bulkUpload }}">
                Entity data import
                </a>
              </li>
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.admin.staticExports }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.admin.staticExports }}">
                Static Export
                </a>
              </li>
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.admin.raygValues }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.admin.raygValues }}">
                RAYG Values
                </a>
              </li>
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url in adminTagManagementUrls }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.admin.tagManagementList }}">
                Manage Tags
                </a>
              </li>
              {% if config.features.permissions %}
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url == config.paths.admin.permissions }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.admin.permissions }}">
                Permissions
                </a>
              </li>
              <li class="govuk-header__navigation-item child-item {{ 'govuk-header__navigation-item--active' if url in adminEntityList }}">
                <a class="govuk-header__link child-nav" href="{{ config.paths.admin.entityList }}">
                Manage Entities
                </a>
              </li>
              {% endif %}
            </ul>
          </li>
          {% endif %}
        </ul>
    </li>
  </ul>
</nav>
{% endif %}
