{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}Accessibility{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">Accessibility</h1>

  <p class="govuk-body">This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the General Data Protection Regulation (GDPR).</p>

  <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
  <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact Public Health England at <a href="mailto:coronavirus-tracker@phe.gov.uk" class="govuk-link">coronavirus-tracker@phe.gov.uk</a>.</p>

  <h2 class="govuk-heading-m">Enforcement procedure</h2>
  <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>

  <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
  <p class="govuk-body">Public Health England is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

  <h2 class="govuk-heading-m">Compliance status</h2>
  <p class="govuk-body">This website is partially compliant with the Web Content Accessibility Guidelines version 2.1 AA standard, due to the non-compliances listed below.</p>

  {# <ul class="govuk-list govuk-list--bullet">
  <li>
      <p class="govuk-body">Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller. In this case that is the function of the Cabinet Office to coordinate transition plans. </p>
  </li>
  <li>
      <p class="govuk-body">It is necessary for the performance of a contract to which the data subject is a party, which in this case is your employment contract. This is because you are an authorised point of contact for other authorised/ cleared individuals to make contact to instigate queries and request progress updates to support their own departmental dependencies and deliverables with other government departments.</p>
  </li>
  </ul> #}

  <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
  <p class="govuk-body">This statement was prepared on 11 April 2020. It was last reviewed on 25 August 2020. All pages on the website were tested. This website was last tested on 13 July 2020. The test was carried out externally by Zoonou.</p>

  <p class="govuk-body">Last updated on Saturday, 14 November 2020 at 07:32PM</p>

 </div>
</div>

{% endblock %}

