{% extends "template.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
  {% include "navigation.njk" %}
{% endblock %}

{% block pageTitle %}Edit RAYG Values{% endblock %}

{% macro raygInput(id, name, value, entity) %}
  {{ govukSelect({
      id: id,
      name: id,
      label: {
        text: name,
        classes: 'govuk-!-font-weight-bold' if entity == "theme"
      },
      items: [
        {
          value: "default",
          text: "Default",
          selected: true if value == "default"
        },
        {
          value: "red",
          text: "Red",
          selected: true if value == "red"
        },
        {
          value: "amber",
          text: "Amber",
          selected: true if value == "amber"
        },
        {
          value: "yellow",
          text: "Yellow",
          selected: true if value == "yellow"
        },
        {
          value: "green",
          text: "Green",
          selected: true if value == "green"
        }
      ]
    }) }}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Edit Theme and statement RAYG Values</h1>

      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {% if successfulMode %}

        {{ govukPanel({
        titleText: "Data saved successfully"
        }) }}

      {% else %}

        {% if flash %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
              {% for error in flash %}
                <li>
                  <a href="#data-entries">{{ error }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}

        <form action='{{ req.originalUrl }}' method='POST' >
          {% for theme in getThemesAndTopLevelStatements() | await %}
            <div class="themeContainer">
              {{ raygInput(theme.id, theme.name, theme.raygStatus, 'theme') }}

              {% for statement in theme.children %}
                {{ raygInput(statement.id, statement.name, statement.raygStatus, 'statement') }}
              {% endfor %}
            </div>
          {% endfor %}

          {{ govukButton({
            text: "Save",
            type: "submit",
            preventDoubleClick: true
          }) }}
        </form>

      {% endif %}

    </div>
  </div>
{% endblock %}