{% extends "template.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
  {% include "navigation.njk" %}
{% endblock %}

{% block pageTitle %}Edit RAYG Values{% endblock %}

{% macro raygInput(id, name, value) %}
  {{ govukSelect({
      id: id,
      name: id,
      label: {
        text: name
      },
      items: [
        {
          value: 0,
          text: "Default",
          selected: true if value == 0
        },
        {
          value: 1,
          text: "Red",
          selected: true if value == 1
        },
        {
          value: 2,
          text: "Amber",
          selected: true if value == 2
        },
        {
          value: 3,
          text: "Yellow",
          selected: true if value == 3
        },
        {
          value: 4,
          text: "Green",
          selected: true if value == 4
        }
      ]
    }) }}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Edit Theme and statement RAYG Values</h1>

      {% from "govuk/components/panel/macro.njk" import govukPanel %}

      {% if successfulMode %}

        {{ govukPanel({
        titleText: "Data saved successfully"
        }) }}

      {% else %}

        {% if flash %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
              {% for error in flash %}
                <li>
                  <a href="#data-entries">{{ error }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}

        <form action='{{ req.originalUrl }}' method='POST' >
          {% for theme in getThemesAndTopLevelStatements() | await %}
            <div class="themeContainer">
              {{ raygInput(theme.id, theme.name, theme.raygStatus) }}

              {% for statement in theme.children %}
                {{ raygInput(statement.id, statement.name, statement.raygStatus) }}
              {% endfor %}
            </div>
          {% endfor %}

          {{ govukButton({
            text: "Save",
            type: "submit",
            preventDoubleClick: true
          }) }}
        </form>

      {% endif %}

    </div>
  </div>
{% endblock %}