{% extends "template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set categories = getCategories() | await %}
{% set selectedEntity = getEntity() | await %}
{% set parentEntitiesByCategory = getParentEntities(selectedEntity) | await %}

{% block beforeContent %}
{% if successMode %}
  {% include "navigation.njk" %}
{% else %} 
    {{ govukBackLink({
        text: "Back",
        href: "#",
        attributes: {
            onclick: "history.go(-1); return false;"
        }
    }) }}
{% endif %}
{% endblock %}

{% block pageTitle %}Remap Entities{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action='{{ req.originalUrl }}' method='POST'>
        <h1 class="govuk-heading-l">Remap Entity</h1>

        <h2 class="govuk-heading-m govuk-!-font-weight-regular"><strong>{{ selectedEntity.publicId }}</strong>: {{ selectedEntity.name }}</h2> 

        {% if flash %}
          {% include "admin/entities/entity-remap/partials/error.njk" %}
        {% endif %}

        {% if successMode %}
          {% include "admin/entities/entity-remap/partials//success.html" %}
        {% else %}
            {% if parentEntitiesByCategory | length %}
            {% include "admin/entities/entity-remap/partials/table.njk" %}

            {{
              govukButton({
                text: "Save",
                type: "submit",
                preventDoubleClick: true,
                classes: "edit-user-button"
              })
            }}

            {{
              govukButton({
                text: "Cancel",
                href:  config.paths.admin.entityList,
                classes: "govuk-button--secondary edit-user-button"
              })
            }}
          {% else %}
            <h3 class="govuk-heading-m">No parent entities found</h3>
          {% endif %}
        {% endif %}

      </form>
    </div>
  </div>
{% endblock %}
