<div class="govuk-!-padding-left-2">
  <h3 class="govuk-heading-m">{{ selectedItem.name }}</h3>
  <p class="govuk-body"><strong>Comment</strong>:<br>{{ selectedItem.additionalComment | default('N/A') }}</p>
  <p class="govuk-body"><strong>Source</strong>: {{ selectedItem.source | default('N/A') }}</p>
</div>
