{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set staticExports = getStaticExports() | await %}

{% block beforeContent %}
  {% include "navigation.njk" %}
{% endblock %}

{% block pageTitle %}Static Exports{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    {% if flash %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">Error</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#headline-measures">{{ flash }}</a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">Static Exports</h1>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">ID</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Error</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Last Updated</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for staticExport in staticExports %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ staticExport.id }}</td>
            <td class="govuk-table__cell">{{ staticExport.status }}</td>
            <td class="govuk-table__cell">{{ staticExport.error }}</td>
            <td class="govuk-table__cell">{{ staticExport.updated_at | date ("DD/MM/YYYY HH:mm:ss", "x") }}</td>
            <td class="govuk-table__cell">
              {% if staticExport.status == 'complete' %}
                <a class="govuk-link edit-link" href="{{ url }}/{{ getS3Id(staticExport.url) }}">
                  Download
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action='{{ url }}' method='POST'>
      {{ govukButton({
        text: "Generate Export",
        type: "submit",
        preventDoubleClick: true
      }) }}
    </form>
   </div>
  </div>
{% endblock %}
