@import '~govuk-frontend/govuk/all';
@import '~chart.js/dist/Chart';

@import 'pages/all-data/AllData.scss';
@import 'pages/upcoming-milestones/UpcomingMilestones.scss';
@import 'pages/data-entry/bulk-upload/BulkUpload.scss';
@import 'pages/admin/project-field-list/ProjectFieldList.scss';
@import 'pages/project-details/ProjectDetails.scss';
@import 'pages/reporting-overview/ReportingOverview.scss';
@import 'pages/theme/Theme.scss';
@import 'pages/readiness-overview/ReadinessOverview.scss';
@import 'pages/rayg-definitions/RaygDefinitions.scss';
@import 'pages/data-entry-entity/measure-edit/MeasureEdit.scss';
@import 'pages/data-entry-entity/measure-list/MeasureList.scss';
@import 'pages/data-entry-entity/measure-value/MeasureValue.scss';
@import 'pages/search-transition-readiness/SearchTransitionReadiness.scss';
@import 'pages/admin/rayg-values/RaygValues.scss';
@import 'pages/admin/user-management/edit-user/EditUser.scss';
@import 'pages/admin/permissions/Permissions.scss';
@import './small-device.scss';
@import './search-measures.scss';
@import './accordion.scss';

.no-borders {
  .govuk-table__header, .govuk-table__cell{
    border-bottom: none;
  }
}

.due {
  color: red;
}

.hidden {
  display: none !important;
}

.show {
  display: inherit !important;
}

.rayg-img {
  width: 20px;
  height: 19px;
  padding-right: 5px;
  top: 4px;
  position: relative;
}

.rayg-status {
  &.rayg-block {
    width: 28px;
    height: 28px;
    display: inline-block;
    border: none;
  }

  &.red {
    background-color: #C21D03;
  }

  &.amber {
    background-color: #FF7631;
  }

  &.yellow {
    background-color: #FFDD00;
  }

  &.green {
    background-color: #00B661;
  }
}

//Header and width
.govuk-width-container {
  max-width: 100%;
  overflow: initial;
  margin-left: 0;
  margin-right: 0;
}

.govuk-header {
  border-bottom: none;
}

.govuk-header__logo {
  margin-left: 25px;
  margin-bottom: 0;
}

.govuk-header__link--service-name {
  margin-left: 10px;
  font-weight: normal;
}

.govuk-header__link--service-name,
.govuk-header__logotype-text,
.logout-item {
  background-color: #0b0c0c;
}

.govuk-main-wrapper, .govuk-footer__meta {
  margin-left: 20px;
  margin-right: 20px;
}

.govuk-header__container {
  border-color: #FA0738;
  margin-bottom: 0;
}

.govuk-header__content {
  width: 100%;
    nav {
      float: right;
      margin-right: 25px;
    }
    a {
      font-weight: normal;
    }
}

.govuk-back-link {
  margin-left: 20px;
}

.govuk-phase-banner {
  border-bottom: 1px solid #f3f2f1;
  background-color: #ffffff;
  .govuk-phase-banner__content {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.navigation + .govuk-main-wrapper,
.navigation + .govuk-back-link,
.tableu {
  margin-top: 50px;
}

// Navigation
.navigation {
  background-color: #f3f2f1;
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;

  .govuk-header__link.nav, .govuk-header__link.child-nav {
    color: #2364AB;
  }

  .govuk-header__link.child-nav {
    font-weight: normal;
  }

  .govuk-header__navigation-item.govuk-header__navigation-item--active {
    border-bottom: 5px solid #1d70b8;
  }

  .child-item.govuk-header__navigation-item.govuk-header__navigation-item--active > a {
    color: #000000;
 }

  .govuk-header__navigation-item.child-item,
  .govuk-header__navigation-item {
    margin-right: 25px;
    &:last-child {
      margin-right: 0px;
    }
  }
  .govuk-header__navigation-noPadding {
    padding: 0;
  }
}

.child-navigation {
    border-bottom: 1px solid #b1b4b6;
    display: block;
    position: absolute;
    margin-top: 7px;
}

// Timer
.pull-right {
  float: right;
  margin-right: 0 !important;
  .timer {
    display: inline;
    color: #1E1348;
  }

  #countdown {
      background-color: #1E1348;
      font-size: 16px;
      padding: 4px 6px;
      margin-left: 5px;
      color: white;
  }
}

.text-align-right {
  text-align: right;
}

.current-status-icon {
  p {
    display: none !important;
  }
  img {
    top: 0;
  }
}
