.js-enabled {
    #search-table .searchable-row {
      display: none;
    }
  
    #search {
      display: flex;
    }
  }
  
  #search {
    .input-wrapper{
        position: relative;
        display: inherit;
    }
  
    .clear-search {
      position: absolute;
      right: 0;
      width: 33px;
      height: 40px;
      z-index: 1;
    }
  
    .clear-search-icon {
      background-image: url(/assets/images/search-clear-icon.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 15px 15px;
      display: block;
      width: 33px;
      height: 32px;
    }
  
    .search-input {
      border-right: 0;
      padding-right: 30px;
    }
  
    .search-background {
      background: #1B70B6;
      margin: 0;
      padding: 0;
    }
  
    .search-button, .clear-search-button {
      appearance: none;
      border: none;
      background: none;
      margin: 0;
      padding: 0;
      cursor: pointer;
      border-radius: 0;
      height: 100%;
      &:focus {
        outline: 3px solid #ffdd00;
        outline-offset: 0;
        box-shadow: inset 0 0 0 2px;
      }
    }
  
    .search-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 40px 40px;
      display: block;
      width: 40px;
      height: 35px;
    }
  }
  