@media only screen and (max-width:840px) {
    
    // Header and navigation
    .js-enabled .govuk-header__menu-button {
        display: none;
    }

    .js-enabled .govuk-header__navigation {
        display: contents;
    }

    .govuk-header__navigation-item {
        border-bottom: 0;
        display: block;
    }

    .navigation {
        border-bottom: 1px solid #b1b4b6;
    }

    .logout-item {
        border-bottom: 0;
    } 
}

@media only screen and (max-width:768px) {

    .govuk-header__link--service-name {
        margin-left: 25px !important;
        margin-top: 10px;
    }

    .top-statements {
        height: auto;
    }

    // Readiness Overview
    .readiness-overview {
        .govuk-grid-column-one-quarter,
        .govuk-grid-column-three-quarters {
        width: 100%;
        }
    
        .risk-col {
            border-left: none;
        }
    
        .overview-link {
            font-weight: normal;
            display: inline !important;
        }
    
        #themes {
            margin-top: 20px;
        }
    }

    // Themes
    #readiness-theme-page {
        .govuk-grid-column-one-quarter,
        .govuk-grid-column-three-quarters,
        .govuk-grid-column-one-half {
        width: 100%;
      } 

    #column-sub-statements, #theme-tableu-placeholder, .hide-statement {
        display: none;
    }

    .show-statement, .show-measure {
        display: block !important;
    }

    .theme-name.show-statement::before {
        top: 5px;
    }

    @media only screen and (max-width:640px) {
        .theme-name::before {
            top: 3px;
        }
        .theme-name.show-statement::before {
            top: 0px;
        }
    }
  }

    // RAYG Definitions
    .rayg-definitions {
    .govuk-grid-column-one-half {
        width: 100%;
    }
  }
}