@media only screen and (max-width:840px) {
    
    // Header and navigation
    .js-enabled .govuk-header__menu-button {
        display: none;
    }

    .js-enabled .govuk-header__navigation {
        display: contents;
    }

    .navigation + .govuk-main-wrapper {
        margin-top: 10px !important;
    }

    .navigation {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-bottom: 1px solid #b1b4b6;
        .govuk-header__navigation-item {
            border-bottom: 0;
            display: block;
            padding: 10px 24px;
        }
        .govuk-header__navigation-item--active {
            border-bottom: 0 !important;
        }
        .govuk-header__navigation-item.child-item {
            background-color: white;
            margin-right: 0 !important;
        }
        .govuk-header__navigation-item.child-item.govuk-header__navigation-item--active {
            padding: 0;
            &:before {
                content: "";
                display: inline-block;
                width: 6px;
                height: 35px;
                margin-right: 13px;
                background-color: #1d70b8;
            }
            .child-nav {
                vertical-align: super;
            }
        }
        #toggle-menu {
            display: block !important;
        }
    }

    .logout-item {
        border-bottom: 0;
    }

    #hide-menu-link::after {
        content: url('/assets/images/menu-up.png');
        padding-left: 5px;
    }

    #show-menu-link::after {
        content: url('/assets/images/menu-down.png');
        padding-left: 5px;
    }

    #toggle-mobile, #hide-menu-link,
    #show-menu:target #show-menu-link {
        display: none;
    } 
    
    #show-menu:target #toggle-mobile,
    #show-menu:target #hide-menu-link {
        display: block;
    }

    .govuk-header__link--service-name {
        margin-left: 25px !important;
        margin-top: 10px;
    }

    .top-statements {
        height: auto;
    }

    // Readiness Overview
    .readiness-overview {
        .govuk-grid-column-one-quarter,
        .govuk-grid-column-three-quarters {
        width: 100%;
        }
    
        .risk-col {
            border-left: none;
        }
    
        .overview-link {
            font-weight: normal;
            display: inline !important;
        }
    
        #themes {
            margin-top: 20px;
        }
    }

    // Themes
    #readiness-theme-page {
        .govuk-grid-column-one-quarter,
        .govuk-grid-column-three-quarters,
        .govuk-grid-column-one-half {
        width: 100%;
      } 

    #column-sub-statements, #theme-tableu-placeholder, .hide-statement {
        display: none;
    }

    .show-statement, .show-measure {
        display: block !important;
    }
  }

    // RAYG Definitions
    .rayg-definitions {
    .govuk-grid-column-one-half {
        width: 100%;
    }
  }

    // Accessibility
    .accessibility {
        .govuk-grid-column-two-thirds {
            width: 100%;
        }
    }
}