{% extends "template.njk" %}
{% from "readiness-accordion.njk" import buildOutcomeMeasures %}
{% from "attribute.njk" import ariaCurrent %}
{% from "searchMeasures.njk" import searchMeasuresForm %}
{% from "status.njk" import currentStatus %}
{% from "active-statement-box.njk" import activeStatementBox with context %}

{% set data = data() | await %}
{% set activeStatement = '' %}
{% set activeColor = '' %}
{% set projectedIsSelected = data.selected and data.selected.category and data.selected.category.name === 'Project' %}
{% set milestoneIsSelected = data.selected and data.selected.category and data.selected.category.name === 'Milestone' %}
{% set isCommentOnlyMeasure = data.selected and data.selected.category and data.selected.category.name === 'Measure' and data.selected.commentsOnly == "Yes" %}

{% block pageTitle %}{{ data.theme.name }} - {{ super() }}{% endblock %}

{% block content %}

<div class="govuk-grid-row" id="readiness-theme-page" data-theme-id="{{ req.params.theme }}">
<div class="govuk-grid-column-full">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-one-third no-horizontal-padding search-right">{{searchMeasuresForm(searchUrl)}}</div>
      <h1 class="govuk-heading-l govuk-grid-column-two-thirds no-horizontal-padding govuk-!-margin-bottom-2">{{ data.theme.name }}</h1>
    <div> 
  <div>
  <p class="govuk-body-l govuk-!-margin-bottom-2">{{ data.theme.description }}</p>
  {{ currentStatus(data.theme.color, false) }}

  <p class="govuk-body-s govuk-!-margin-bottom-5 govuk-!-margin-top-5"><a class="govuk-link" href="{{ config.paths.raygDefinitions }}">Understanding risk levels and how they are calculated</a></p>

  <div class="govuk-grid-column-one-quarter no-horizontal-padding {{ 'hide-statement' if req.params.statement }}" id="column-statements">
    <a href="{{ config.paths.readinessOverview }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-left-0 {{ 'show-statement' if req.params.theme }}" style="display: none;">Overview</a>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Outcomes</h2>
    <div id="outcome-statements">
    {% for topOutcome in data.topLevelOutcomeStatements %}
    <div class="overview-card {{ topOutcome.color }}">
      <div class="overview-card--inner {{ 'active-statement' if topOutcome.active }}">
      {% if topOutcome.active %}
        {% set activeStatement = topOutcome.name %}
        {% set activeColor = topOutcome.color %}
      {% endif %}
       <h3 class="govuk-heading-s govuk-!-margin-bottom-2"><a href="{{ topOutcome.link }}" class="overview-card--link govuk-link" {{ ariaCurrent(req.params.statement and not req.params.selectedPublicId) }}>{{ topOutcome.name }}</a></h3>
        <p class="govuk-body-s govuk-!-margin-bottom-2">{{ topOutcome.description }}</p>
        {{ currentStatus(topOutcome.color, true) }}
        </div>
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <p class="govuk-body-s overview-card--display">Explore data</p>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter no-horizontal-padding {{ 'show-statement' if req.params.statement and (projectedIsSelected or not req.params.selectedPublicId) }}" id="column-sub-statements">
    <a href="{{ themeUrl }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-left-0 {{ 'show-statement' if req.params.statement }}" style="display: none;">Outcomes</a>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Select data</h2>
    <div id="sub-statements">
    {{ activeStatementBox(activeStatement, activeColor) }}
    {% if data.subOutcomeStatementsAndDatas | length > 0 %}
      <div class="readiness-accordion-wrapper">
        {{ buildOutcomeMeasures(data.subOutcomeStatementsAndDatas, 1, req.params.statement) }}
      </div>
    {% else %}
      <p class="govuk-body-s measures-message">To view data groupings and types, select an outcome statement</p>
    {% endif %}
    </div>
  </div>

  <div class="govuk-grid-column-one-half no-horizontal-padding {{ 'show-measure' if req.params.selectedPublicId and not projectedIsSelected }}" id="theme-tableu-placeholder">
  <a href="{{ themeUrl }}/{{ req.params.statement }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-left-0 {{ 'show-measure' if req.params.selectedPublicId }}" style="display: none;">Select data</a>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Data display</h2>
    {{ activeStatementBox(activeStatement, activeColor) }}
    {% set selectedItem = data.selected %}
    {% if projectedIsSelected %}
      {% set showViewLinks = canAccessProject(selectedItem.publicId) | await %}
      {% include "theme/partials/projectDetails.njk" %}
    {% elseif milestoneIsSelected %}
      {% set showViewLinks = canAccessProject(selectedItem.parents[0].publicId) | await %}
      {% include "theme/partials/milestoneDetails.njk" %}
    {% elseif isCommentOnlyMeasure %}
      {% include "theme/partials/commentOnlyMeasure.njk" %}
    {% elseif not data.iframeUrl.error and not data.iframeUrl.url %}
      <p class="govuk-body-s tableu-message">To view data of measures and metrics, select a data grouping or type</p>
    {% elseif data.iframeUrl.error %}
      <p class="govuk-body-s tableu-message">There has been an error accessing this data, please contact The Transition Taskforce Dashboard Team</p>
    {% else %}
      <iframe title="Data view" src="{{ data.iframeUrl.url }}" class="theme-tableu"></iframe>
    {% endif %}
  </div>

</div>
</div>


{% endblock %}

{% block afterScript %}
  <script>
    TRANSITIONDELIVERYDASHBOARD.milestoneTimeline('milestone-timeline', {{ data.selected | dump | safe }});
  </script>
{% endblock %}
