{% extends "template.njk" %}
{% from "readiness-accordion.njk" import buildOutcomeMeasures, projectDetails with context %}
{% from "attribute.njk" import ariaCurrent %}
{% from "searchMeasures.njk" import searchMeasuresForm %}
{% from "status.njk" import currentStatus %}

{% set data = data() | await %}
{% set activeStatement = '' %}
{% set activeColor = '' %}

{% block pageTitle %}{{ data.theme.name }} - {{ super() }}{% endblock %}

{% block content %}

<div class="govuk-grid-row" id="readiness-theme-page" data-theme-id="{{ req.params.theme }}">
<div class="govuk-grid-column-full">

  <a href="{{ config.paths.readinessOverview }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-left-0 {{ 'show-statement' if req.params.theme }}" style="display: none;">Overview</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-column-one-third no-horizontal-padding search-right">{{searchMeasuresForm(searchUrl)}}</div>
      {{ currentStatus(data.theme.color, false) }}
      <h1 class="govuk-heading-l govuk-grid-column-two-thirds no-horizontal-padding govuk-!-margin-bottom-1">{{ data.theme.name }}</h1>
    <div> 
  <div>
  <p class="govuk-body-l">{{ data.theme.description }}</p>
  <p class="govuk-body-s govuk-!-margin-bottom-5"><a class="govuk-link" href="{{ config.paths.raygDefinitions }}">Understanding risk levels and how they are calculated</a></p>

  <div class="govuk-grid-column-one-quarter no-horizontal-padding {{ 'hide-statement' if req.params.statement }}" id="column-statements">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Outcome statements</h2>
    <div class="top-statements" id="outcome-statements">
    {% for topOutcome in data.topLevelOutcomeStatements %}
    <div class="overview-card">
      <div class="overview-card--inner {{ 'active-statement' if topOutcome.active }}">   
      {% if topOutcome.active %} 
        {% set activeStatement = topOutcome.name %} 
        {% set activeColor = topOutcome.color %} 
      {% endif %}
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">{{ topOutcome.name }}</p>
        <p class="govuk-body-s govuk-!-margin-bottom-2">{{ topOutcome.description }}</p>
        {{ currentStatus(topOutcome.color, true) }}
        </div>
        <hr class="govuk-section-break govuk-section-break--visible">
        <a href="{{ topOutcome.link }}" class="overview-card--link govuk-link" {{ ariaCurrent(req.params.statement and not req.params.selectedPublicId) }}>Explore data</a>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter no-horizontal-padding {{ 'show-statement' if req.params.statement and not req.params.selectedPublicId }}" id="column-sub-statements">
    <a href="{{ themeUrl }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-left-0 {{ 'show-statement' if req.params.statement }}" style="display: none;">Back to outcome statements</a>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Data groupings and types</h2>
    <div class="top-statements" id="sub-statements">
    {% if activeStatement %}
    <div class="{{ 'show-statement' if req.params.statement }}" style="display:none;"> 
      {{ currentStatus(activeColor, false) }}
      <h3 class="govuk-heading-m govuk-!-font-weight-regular govuk-!-margin-top-1">{{ activeStatement }}</h3>
    </div>
    {% endif %}
    {% if data.subOutcomeStatementsAndDatas | length > 0 %}
      <div class="readiness-accordion-wrapper">
        {{ buildOutcomeMeasures(data.subOutcomeStatementsAndDatas, 1, req.params.statement) }}
      </div>
    {% else %}
      <p class="govuk-body-s measures-message">To view data groupings and types, select an outcome statement</p>
    {% endif %}
    </div>
  </div>

  <div class="govuk-grid-column-one-half no-horizontal-padding {{ 'show-measure' if req.params.selectedPublicId }}" id="theme-tableu-placeholder">
  <a href="{{ themeUrl }}/{{ req.params.statement }}" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-left-0 {{ 'show-measure' if req.params.selectedPublicId }}" style="display: none;">Back to {{ activeStatement }}</a>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Measure and metric data view</h2>
    <div class="overflow-scroll">
    {% if data.subOutcomeStatementsAndDatas | length > 0 %}
      {% for item in data.subOutcomeStatementsAndDatas %}
        {{ projectDetails(item) }}
      {% endfor %}
    {% endif %}
    {% if not data.iframeUrl.error and not data.iframeUrl.url %}
      <p class="govuk-body-s tableu-message">To view data of measures and metrics, select a data grouping or type</p>
    {% elseif data.iframeUrl.error %}
      <p class="govuk-body-s tableu-message">There has been an error accessing this data, please contact The Transition Taskforce Dashboard Team</p>
    {% else %}
      <iframe title="Data view" src="{{ data.iframeUrl.url }}" class="theme-tableu"></iframe>
    {% endif %}
    </div>
  </div>

</div>
</div>


{% endblock %}

