.active-statement {
    background-color: #ffffff !important;
    a {
        color: #0b0c0c !important;
    }
}

.active-statement + hr + .overview-card--display {
    background-color: #f8f8f8;
}

.no-horizontal-padding {
    padding-left: 0;
}

.readiness-accordion-wrapper {
    .govuk-accordion__section-content {
        padding-top: 0;
        padding-bottom: 0
    }

    .govuk-accordion__section-header {
        border-top: none;
        background-color: #f8f8f8;
        border: 1px solid #f3f2f1;
    }

    .govuk-accordion__section--expanded {
        margin-bottom: 10px;
    }

    .govuk-accordion__section--expanded > .govuk-accordion__section-header {
        background-color: #ffffff;
        border-bottom: none;
        border-left: none;
        .govuk-accordion__section-heading {
            color: #0b0c0c;
        }
    }

    .govuk-accordion__section-header:hover {
        background-color: #ffffff;
        text-decoration: none;
        .govuk-accordion__section-button:hover   {
            text-decoration: none;
            color: #003078;
        }
    }

    .govuk-accordion__section--expanded > .govuk-accordion__section-header:hover {
        .govuk-accordion__section-button:hover   {
            color: black;
        }
    }

    .govuk-accordion__section-button + .current-status {
        margin-top: 10px;
    }

    .govuk-accordion {
        margin-bottom: 0;
        border-bottom: none;

        &:not(.accordion-level-1) {
            .govuk-accordion__section-header {
                padding-left: 20px;
            }

            .govuk-accordion__section--expanded {
                border-left: 1px solid #f3f2f1;
                border-bottom: 1px solid #f3f2f1;
                padding-bottom: 5px;
            }
        }

        .last-level-expandable .govuk-accordion__section-content {
            margin: -2px 0 2px 0;
            position: relative;
            background-color: #ffffff;
        }

        .last-level-expandable > .govuk-accordion__section-header {
            background-color: #f8f8f8;
        }
    }

    .accordion-level-1 {
        > .govuk-accordion__section {
            margin-bottom: 10px;
        }

        > .govuk-accordion__section--expanded {
            border-left: 1px solid #f3f2f1;
            border-bottom: 1px solid #f3f2f1;
            padding-bottom: 5px;
        }

        > .govuk-accordion__section--expanded > .govuk-accordion__section-header {
            background-color: #ffffff;
            border-bottom: none;
            border-left: none;
        }

        .section-header-1 {
            .govuk-accordion__section-button {
                padding-left: 20px;
                + .current-status {
                    padding-left: 20px;
                }
            }
        }
    }

    .govuk-accordion__section--expanded .govuk-accordion__icon:after {
        display: block;
    }

    .govuk-accordion__section--expanded button[aria-expanded="true"] .govuk-accordion__icon:after {
        display: none;
    }

    .outcome-measures {
        margin-top: 0;
        padding: 0;
        list-style-type: none;
        background-color: #ffffff;
    }

    .outcome-measure__item {
        padding: 10px 20px;
        position: relative;
        border: 1px solid #f3f2f1;
        background-color: #f8f8f8;
    }

    .outcome-measure__item.grey {
        cursor: not-allowed;
        .outcome-measure__link {
            pointer-events: none;
            color: #505a5f;
        }
    }

    .outcome-measure__link:hover {
        color: #003078;
    }

    .outcome-measure__item--active, .outcome-measure__item:not(.grey):hover {
        background-color: white;
    }

    .outcome-measure__item--active .outcome-measure__link {
        color: black;
    }

    .outcome-measure__link {
        text-decoration: none;
        color: #1d70b8;
        ~ .current-status {
            margin-top: 8px;
        }

        &:before {
            content: '';
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
          }
    }
}

.measure-info {
    color: #505a5f;
    margin-bottom: 2px;
    font-size: 13px;
    font-style: normal;
}

.measure-complete {
    color: #0b0c0c;
}

.js-enabled .govuk-accordion__section--expanded .govuk-accordion__section-content {
    display: none;
}

.js-enabled .govuk-accordion__section--expanded > .govuk-accordion__section-content {
    display: block;
    padding-left: 10px;
}

.measures-message,
.tableu-message {
    border: 1px solid #B1B4B6;
    padding: 50px 15%;
    width: 100%;
    text-align: center;
    color: #636A6D;
    box-sizing: border-box;
}

.tableu-message {
    width: 50%;
    padding: 50px;
}

.theme-tableu {
    width: 100%;
    height: 100vh;
    border: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#theme-tableu-placeholder {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.search-right {
    float: right;
}

.govuk-accordion__section-header:before,
.outcome-measure__item:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    width: 0;
    height: 0;
}

.govuk-accordion__section-header.red:before {
    border-left: 15px solid #C21D03;
    border-top: 15px solid #C21D03;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.govuk-accordion__section-header.amber:before {
    border-left: 15px solid #FF7631;
    border-top: 15px solid #FF7631;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.govuk-accordion__section-header.yellow:before {
    border-left: 15px solid #FFDD00;
    border-top: 15px solid #FFDD00;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.govuk-accordion__section-header.green:before {
    border-left: 15px solid #00B661;
    border-top: 15px solid #00B661;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.govuk-accordion__section-header.grey:before {
    border-left: 15px solid #B1B4B6;
    border-top: 15px solid #B1B4B6;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.outcome-measure__item.red:before {
    border-left: 10px solid #C21D03;
    border-top: 10px solid #C21D03;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.outcome-measure__item.amber:before {
    border-left: 10px solid #FF7631;
    border-top: 10px solid #FF7631;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.outcome-measure__item.yellow:before {
    border-left: 10px solid #FFDD00;
    border-top: 10px solid #FFDD00;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.outcome-measure__item.green:before {
    border-left: 10px solid #00B661;
    border-top: 10px solid #00B661;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.outcome-measure__item.grey:before {
    border-left: 10px solid #B1B4B6;
    border-top: 10px solid #B1B4B6;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#readiness-theme-page .govuk-grid-column-full {
    background-color: #ffffff;
}

#milestone-timeline {
  max-height: 250px;
}
