.rayg-def {
    padding: 4px 15px 4px 15px;
    border-left: 0;
    height: 20px;
    width: 20px;
  
    &.red {
      background-color: #C21D03;
    }
  
    &.amber {
      background-color: #FF7631;
    }
  
    &.yellow {
      background-color: #FFDD00;
    }
  
    &.green {
      background-color: #00B661;
    }

    &.grey {
      background-color: #B1B4B6;
    }
  }