{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
{% if successfulMode %}
  {% include "navigation.njk" %}
{% else %} 
    {{ govukBackLink({
        text: "Back",
        href: "#",
        attributes: {
            onclick: "history.go(-1); return false;"
        }
    }) }}
{% endif %}
{% endblock %}

{% block pageTitle %}Delete entity{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

  {% if successfulMode %}
    {% include "admin/entities/entity-delete/partials/delete-success.njk" %}
  {% else %}

    {% set entity = getEntity() | await %}
  
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Delete entity</h1>

    {% if entity.children | length %}
        {% include "admin/entities/entity-delete/partials/children-entity.njk" %}
    {% elseif entity.publicId %}
        {% include "admin/entities/entity-delete/partials/delete-confirmation.njk" %}
    {% else %}
      <p class="govuk-body-l">Entity {{ req.params.publicId }} can not be found.</p>
      <a href="{{ config.paths.admin.entityList }}" class="govuk-link govuk-body">Back to entities list</a>  
    {% endif %}

  {% endif %}

 </div>
</div>

{% endblock %}