{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set cascadeCheckBox %}
      {{ govukCheckboxes({
        idPrefix: "waste",
        name: "waste",
        items: [
          {
            value: "carcasses",
            text: " "
          }
        ]
      }) }}
{% endset -%}

{% set permissionRadio %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "changed-name",
    name: "changed-name",
    items: [
      {
        value: "View",
        text: "view"
      },
      {
        value: "Edit",
        text: "edit"
      },
      {
        value: "None",
        text: "none"
      }
    ]
  }) }}
{% endset -%}

{% macro rowItems() %}
    {% set rowItems = [] %}
    {% set rowItems= (rowItems.push({
          text: "First 6 weeks"
        }, {
          html: permissionRadio
        },
        {
          html: cascadeCheckBox
        }), rowItems) 
    %}

{% endmacro %}

{# {% macro rowItems() %}
    {% set rowItems = [] %}
    {% set rowItems= (rowItems.push({
          text: "First 6 weeks"
        }), rowItems) 
    %}
{% endmacro %} #}