.js-enabled {
  .result-count {
    display: inherit;
  }
  #search-filters {
    display: block;
  }
  .govuk-checkboxes__label{
    text-transform:capitalize;
  }
}
#search-filters {
  .actions {
    display: contents;
    button {
      margin-right: 10px;
    }
     button, a {
      width: 150px;
    }
  }
  .govuk-accordion__section--expanded{
    max-height: 300px;
    overflow-y: scroll;
  }

  .govuk-checkboxes__label{
    text-transform:capitalize;
  }
}

.search-current-status {
  width: 50px;
  padding-top: 20px;

  img {
    display: block;
    padding-bottom: 5px;
  }
  
  p {
    display: none !important;
  }
}

#search-list {
  background-color: #f3f2f1;
  padding: 10px;
  margin-bottom: 10px;
    a {
      margin-right: 20px;
      display: inline-block;
    }
    p:not(:first-child) {
      text-transform: capitalize;
      margin: 10px 5px 5px 0;
    }
}