{% extends "template.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "searchMeasures.njk" import searchMeasures %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "status.njk" import currentStatus %}

{% set data = getData() | await %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "#",
      attributes: {
        onclick: "history.go(-1); return false;"
      }
    })
  }}
{% endblock %}

{% block pageTitle %}Search transition readiness - {{ super() }}{% endblock %}

{% block content %}

<form method="GET" action="{{ url }}" class="search-measure">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
            <label class="govuk-label--l" for="term">Search measures</label>
          </h1>
      {{ searchMeasures(true) }}
    </div>
  </div>

    <div class="govuk-grid-row" id="hide-filters">
      <div class="govuk-grid-column-one-quarter" id="search-filters" >
        {% include "search-transition-readiness/partials/filters.njk" %}
        <div class="govuk-grid-row actions">
          {{ govukButton({
                text: "Apply filters",
                preventDoubleClick: true
              })
          }}
          {{ govukButton({
                text: "Clear all filters",
                classes: "govuk-button--secondary clear-filter",
                preventDoubleClick: true,
                href: url,
                type: "reset"
              })
          }}
        </div>
      </div>

      <div class="govuk-grid-column-full" id="dataTable">

        <div id="showFiltersBtn">
        {% include "all-data/partials/filters/show-filter-btn.njk" %}
        </div>

        <div id="hideFiltersBtn">
        {% include "all-data/partials/filters/hide-filter-btn.njk" %}
        </div>

        <div class="search-list hidden">
          <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Selected filters</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-0" aria-hidden="true">
        </div>

        <table class="govuk-table" id="search-table">
          <tbody class="govuk-table__body">
            <tr class="result-count hidden">
              <td class="govuk-table__cell" colspan="2">
                <p class="govuk-body govuk-!-margin-0 count"></p>
              </td>
            </tr>
            {% for measure in data.measures %}
              {%- set tags -%}
                {%- for tag in measure.tags -%}
                  {{ tag.name }}{{ "," if not loop.last }}
                {%- endfor -%}
              {%- endset -%}
              <tr class="govuk-table__row searchable-row" data-theme="{{ measure.theme }}" data-color="{{ measure.color }}" data-tags="{{ tags }}">
                <td class="govuk-table__cell search-current-status">{{ currentStatus(measure.color, false) }}</td>
                <td class="govuk-table__cell govuk-!-width-full">
                  <table class="govuk-table no-borders govuk-!-margin-0">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td colspan="2" class="govuk-table__cell">
                          <a href="{{ measure.link }}" class="govuk-link">{{ measure.name }} </a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-!-padding-0">
                          <table class="govuk-table no-borders govuk-!-margin-0 govuk-!-width-one-half">
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell govuk-!-padding-top-0">{{ measure.metricID or measure.publicId }}</td>
                                <td class="govuk-table__cell govuk-!-padding-top-0">{{ measure.theme }}</td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell govuk-!-padding-0" colspan="2">
                                  {% if measure.tags.length %}
                                    {% for tag in measure.tags %}
                                      {{
                                        govukTag({
                                          text: tag.name,
                                          classes: 'govuk-!-margin-right-1 govuk-!-margin-bottom-1'
                                        })
                                      }}
                                    {% endfor %}
                                  {% endif %}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</form>

{% endblock %}
