.category-group {
    margin-top: 30px;
    margin-bottom: 10px;
    a {
        margin-right: 10px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .category.selected {
        color: black;
        border-bottom: 5px solid #1d70b8;
        padding-bottom: 5px;
    }
}
.permissions-radio {
    padding: 10px;
    padding-bottom: 0px;
    background-color:#f3f2f1;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    .radio-option{
        display: flex;
    }
}
.cascade-checkbox {
    padding: 10px;
}

#permissions-table{
    margin-top: 30px;
    .header-first {
       width: 50%; 
    }
    .header-middle {
        padding: 10px;
    }
    th:nth-child(3) {
        width: 10%;
    }
    .category-name{
        font-weight: normal;
    }
}
