.category-group {
    margin-top: 40px;
    margin-bottom: 10px;
    
    flex-direction: row;
    justify-content: space-around;
    a {
        padding-right: 10px;
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        color: #1d70b8;
    }
    .category.selected {
        font-weight: bold;
        color: black;
    }
}
.permissions-radio {
    padding: 10px;
    background-color:#f3f2f1;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    .radio-option{
        display: flex;
    }
}
.cascade-checkbox {
    padding: 10px;
}

#permissions-table{
    margin-top: 50px;
    .header-first {
       width: 150rem; 
    }
    .header-middle {
        padding: 10px;
    }
    .category-name{
        font-weight: normal;
    }
    .govuk-table__header, .govuk-table__cell {
        width: 0%;
    }
}
