{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}


{% set roles = getRoles() | await %}
{% set categories = getCategories() | await %}
{% set entities = entitiesForCategory() | await %}

{% block beforeContent %}
  {% include "navigation.njk" %}
{% endblock %}

{% block pageTitle %}Permissions{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if successMode %}
        {% include "admin/permissions/partial/success.html" %}
      {% else %}
        {% include "admin/permissions/partial/form.html" %}
      {% endif %}
   </div>
  </div>
{% endblock %}