{% from "govuk/components/table/macro.njk" import govukTable %}

{% set tableRows = [] %}


{% for entity in entities %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

  {% set cascadeCheckBox %}
        {{ govukCheckboxes({
          idPrefix: entity.id,
          name: entity.id,
          classes: "govuk-checkboxes--small",
          items: [
            {
              value: "cascade",
              text: " ",
              checked: entity.shouldCascade,
              disabled: true if entity.hasParentsPermission
            }
          ]
        }) }}
  {% endset -%}

  {% set permissionRadio %}
    {{ govukRadios({
      classes: "govuk-radios--inline radio-option govuk-radios--small",
      idPrefix: entity.id,
      name: entity.id,
      items: [
        {
          value: "view",
          text: "view",
          checked: entity.view,
          disabled: true if entity.hasParentsPermission
        },
        {
          value: "edit",
          text: "edit",
          checked: entity.edit,
          disabled: true if entity.hasParentsPermission
        },
        {
          value: "none",
          text: "none",
          checked: entity.notSelected,
          disabled: true if entity.hasParentsPermission
        }
      ]
    }) }}
  {% endset -%}

  {% set rowItems = [] %}
  {% set rowItems= (rowItems.push({
        text: entity.name,
        classes: "category-name"
      }, {
        html: permissionRadio,
        classes: "permissions-radio"
      },
      {
        html: cascadeCheckBox,
        classes: "cascade-checkbox"
      }), rowItems) 
  %}

  {% set tableRows= (tableRows.push(rowItems), tableRows) %}
{% endfor %}

<div id="permissions-table">
  {{ govukTable({
      firstCellIsHeader: true,
      head: [
        {
          text: "Category",
          classes: "header-first"
        },
        {
          text: "Permissions",
          classes: "header-middle"
        },
        {
          text: "Cascade",
          classes: "header-middle"
        }
      ],
      rows: tableRows
    }) }}
</div>