{% if flash %}
<div class="govuk-error-summary" aria-labelledby="error-summary-entity" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-entity">
    There is a problem
    </h2>
    <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
        <li>{{ flash }}</li>
    </ul>
    </div>
</div>
{% endif %}

{{ govukPanel({
    titleText: "Are you sure you want to delete entity " + entity.publicId + "?",
    classes: 'red-panel'
}) }}

<form action="{{ config.paths.admin.entityDelete }}/{{ entity.publicId }}" method="post">

{{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary back-measure-button",
    href: config.paths.admin.entityList
}) }}

{{ govukButton({
    text: "Delete",
    classes: "govuk-button--warning back-measure-button"
}) }}

</form>
