{{ govukPanel({
    titleText: "Are you sure you want to delete entity " + entity.publicId + "?",
    classes: 'red-panel'
}) }}

<form action="{{ config.paths.admin.entityDelete }}/{{ entity.publicId }}" method="post">

{{ govukButton({
    text: "Cancel",
    classes: "govuk-button--secondary back-measure-button",
    href: config.paths.admin.entityList
}) }}

{{ govukButton({
    text: "Delete",
    classes: "govuk-button--warning back-measure-button"
}) }}

</form>
