{% macro measureTags(url) %}
  <form action="{{ url }}#tags" method="post">
    {{ latestMeasure.name }}


    <br>
    <button class="govuk-button" data-module="govuk-button" type="submit">Save</button>

  </form>

{% endmacro %}
