{% from "status.njk" import currentStatus %}

{% macro readinessThemeCard(item) %}
  <div class="overview-card {{ item.color if item.active else "grey inactive" }}">
    <div class="overview-card--inner">
      <a class="overview-card--link govuk-link" href="{{ item.link if item.active else "#" }}"> 
        {{ item.name }}
      </a>
      <p>{{ item.description }}</p>
      {{ currentStatus(item.color) }}
    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-3">
    <a href="{{ item.link }}" class="overview-card--link govuk-link">All theme data</a>
  </div>
{% endmacro %}
