{% macro visualisations(entityVisualisations) %}

  {# Once all entities have been assigned visualisation(s) the below IF statements should be able to be removed
  and only the FOR loop to include the visualisation templates should be required.
  #}

  {% set isCommentOnlyMeasure = entityVisualisations.category and entityVisualisations.category.name === 'Measure' and entityVisualisations.commentsOnly == "Yes" %}

  <div class="visualisations">
    <script type="text/javascript" src="/assets/visualisations.js"></script>
    {% if isCommentOnlyMeasure %}
      {% include "visualisations/commentOnlyMeasure.njk" %}
    {% elseif entityVisualisations and entityVisualisations.iframeUrl.error %}
      <p class="govuk-body-s tableu-message">There has been an error accessing this data, please contact The Transition Taskforce Dashboard Team</p>
    {% else %}
      {% for visualisation in entityVisualisations.visualisations %} 
        {% set path = "visualisations/" + visualisation.template + ".njk" %}
        {% include path ignore missing %}
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}
