{% macro visualisations(entityVisualisations, selectedItem) %}

  {# Once all entities have been assigned visualisation(s) the below IF statements should be able to be removed
  and only the FOR loop to include the visualisation templates should be required.
  Further to this selectedItem should be able to be removed from this macro once the logic for projects & milestones is updated.
  #}

  {% set isCommentOnlyMeasure = selectedItem.category and selectedItem.category.name === 'Measure' and selectedItem.commentsOnly == "Yes" %}

  <div class="visualisations">
    {% if isCommentOnlyMeasure %}
      {% include "visualisations/commentOnlyMeasure.njk" %}
    {% elseif entityVisualisations and entityVisualisations.iframeUrl.error %}
      <p class="govuk-body-s tableu-message">There has been an error accessing this data, please contact The Transition Taskforce Dashboard Team</p>
    {% else %}
      {% for visualisation in entityVisualisations.visualisations %} 
        {% set path = "visualisations/" + visualisation.template + ".njk" %}
        {% include path ignore missing %}
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}
