{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{{ govukCheckboxes({
    name: "colorFilter",
    items: [
      {
        id: "colorFilter-" + option,
        value: option,
        text: option.charAt(0).toUpperCase() + option.slice(1),
        checked: false
      }
    ]
  }) 
}}