{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{% set themeFilters  %}
    {% if (data.themes) %}
        {% for option in data.themes %}
            {% if option.name !== null %}
                {% include "search-transition-readiness/partials/themeFilters.njk" %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endset -%}

{% set statusFilters%}
  {% if (data.colors) %}
    {% for option in data.colors %}
      {% include "search-transition-readiness/partials/colorFilters.njk" %}
    {% endfor %}
  {% endif %}
{% endset -%}

<h3 class="govuk-heading-s panelTitle">Filters</h3>
{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        html: "Theme"
      },
      content: {
        html: themeFilters
      }
    },
    {
      heading: {
        text: "Status"
      },
      content: {
        html: statusFilters
      }
    }
  ]
}) }}