{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}


{{ govukCheckboxes({
    name: "themeFilter",
    items: [
      {
        id: "themeFilter-" + option.name,
        value: option.name,
        text: option.name,
        checked: false
      }
    ]
  }) 
}}