{% extends "template.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {% if successMode %}
    {% include "navigation.njk" %}
{% else %}
  {{ govukBackLink({
      text: "Back",
      href: "#",
      attributes: {
        onclick: "history.go(-1); return false;"
      }
  }) }}
  {% endif %}
{% endblock %}

{% block pageTitle %}Edit user{% endblock %}

{% set data = getData() | await %}
{% set roles = data.roles %}
{% set departments = data.departments %}
{% set user = data.user %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if successMode %}
      {% include "admin/user-management/edit-user/partials/success.html" %}
    {% else %}
      {% include "admin/user-management/edit-user/partials/form.html" %}
    {% endif %}
 </div>
</div>

{% endblock %}