{% extends "template.njk" %}
{% from "readiness-theme-card.njk" import readinessThemeCard %}
{% from "searchMeasures.njk" import searchMeasuresForm %}
{% from "status.njk" import currentStatus %}

{% set data = data() | await %}

{% block pageTitle %}Transition Readiness Overview - {{ super() }}{% endblock %}

{% block beforeContent %}
  {% include "navigation.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row readiness-overview">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third search-right">{{searchMeasuresForm(searchUrl)}}</div>
      <h1 class="govuk-heading-l govuk-grid-column-two-thirds govuk-!-margin-bottom-2">Transition Readiness Overview</h1>
      <p class="govuk-body-l govuk-grid-column-two-thirds">Provides a top level summary of the themes and headline figures affecting readiness for the end of the Transition Period on December 31st 2020.</p>
    </div>
    <p class="govuk-body-s govuk-!-margin-bottom-5"><a class="govuk-link" href="{{ config.paths.raygDefinitions }}">Understanding risk levels and how they are calculated</a></p>
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0" id="headline-figures">Headline figures<a class="govuk-link govuk-!-margin-left-6 overview-link" style="display:none" href="#themes">Themes</a></h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0" aria-hidden="true">

        <div class="overview-card-holder headline-figure">
          {% for item in data.headlineMeasures %}
            <div class="overview-card {{ item.color }}">
              <div class="overview-card--inner">    
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">{{ item.name }}</p>
                <span class="overview-card--tag-theme govuk-heading-s govuk-!-margin-bottom-3">{{ item.theme }}</span>
                {{ currentStatus(item.color, true) }}
              </div>
                <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
                <a href="{{ item.link }}" aria-label="{{ item.name }}" class="overview-card--link govuk-link">Data visualisation</a>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0" id="themes"><a class="govuk-link govuk-!-margin-right-6 overview-link" style="display:none" href="#headline-figures">Headline figures</a>Themes</h2>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0" aria-hidden="true">

        <div class="govuk-grid-row">

          {# High risk column #}
          <div class="govuk-grid-column-one-quarter risk-col">
            <h3 class="govuk-body govuk-!-margin-bottom-2">High risk</h3>
            <div class="overview-card-holder">
              {% for item in data.themes.red %}
                {{ readinessThemeCard(item) }}
              {% endfor %}
            </div>
          </div>

          {# Medium risk column #}
          <div class="govuk-grid-column-one-quarter risk-col">
          <h3 class="govuk-body govuk-!-margin-bottom-2">Medium risk</h3>
            <div class="overview-card-holder">
              {% for item in data.themes.amber %}
                {{ readinessThemeCard(item) }}
              {% endfor %}
            </div>
          </div>

           {# Low risk column #}
          <div class="govuk-grid-column-one-quarter risk-col">
          <h3 class="govuk-body govuk-!-margin-bottom-2">Low risk</h3>
            <div class="overview-card-holder">
              {% for item in data.themes.yellow %}
                {{ readinessThemeCard(item) }}
              {% endfor %}
            </div>
          </div>

           {# Minimal risk column #}
          <div class="govuk-grid-column-one-quarter risk-col">
          <h3 class="govuk-body govuk-!-margin-bottom-2">Minimal/No risk</h3>
            <div class="overview-card-holder">
              {% for item in data.themes.green %}
                {{ readinessThemeCard(item) }}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
