.overview-card-holder {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  margin-top: 20px;
}

.overview-card {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #f3f2f1;
  background-color: #f8f8f8;
}

.headline-figure .overview-card:hover, 
.risk-col .overview-card:not(.inactive):hover {
	cursor: pointer;
	background-color: #ffffff;
}

.overview-card--link {
  text-decoration: none;
  
  &:before {
    content: '';
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
  }

  &:last-child {
	padding: 8px 15px;
	font-size: 14px;
	color: #1d70b8;
	margin-bottom: 0;
	&:hover {
		color: #003078;
	}
  }
}

.overview-card--inner {
	margin-left: 0;
	display: inline-block;
	padding: 16px 16px 12px;
	font-family: "GDS Transport",Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.11111;
	word-break: break-word;
	hyphens: auto;
}

.overview-card--link,
.overview-card--metric {
	color: #0b0c0c;
	font-family: "GDS Transport",Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 20px;
	font-size: 1.125rem;
	line-height: 1.11111;
	margin-top: 0;
	margin-bottom: 10px;
	display: block;
	text-decoration: none;
}


.risk-col .overview-card p:first-child {
	text-transform: uppercase;
	font-size: 19px;
}

.risk-col .overview-card p {
	margin-top: 0;
}

.risk-col .overview-card.inactive,
.risk-col .overview-card.inactive p:first-child {
	color: #505a5f;
	cursor: not-allowed;
}

.overview-card--tag-theme {
	display: inline-block;
	outline: 2px solid transparent;
	outline-offset: -2px;
	color: #fff;
	background-color: #1d70b8;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1;
	padding: 5px 8px 4px;
	margin-bottom: 10px;
}
